@import "tailwindcss";
@import "tw-animate-css";

/* Theme preset styles: these override CSS variables based on the selected data-theme-preset */
@import "../styles/presets/brutalist.css";
@import "../styles/presets/soft-pop.css";
@import "../styles/presets/tangerine.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2046 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.5144 0.1605 267.4400);
  --primary-foreground: oklch(0.9700 0.0140 254.6040);
  --secondary: oklch(0.9400 0 0);
  --secondary-foreground: oklch(0.2500 0 0);
  --muted: oklch(0.9700 0 0);
  --muted-foreground: oklch(0.4400 0 0);
  --accent: oklch(0.9214 0.0248 257.6500);
  --accent-foreground: oklch(0.2571 0.1161 272.2400);
  --destructive: oklch(0.5800 0.2200 27);
  --destructive-foreground: oklch(0.9700 0.0140 254.6040);
  --border: oklch(0.9200 0 0);
  --input: oklch(0.9400 0 0);
  --ring: oklch(0.5144 0.1605 267.4400);
  --chart-1: oklch(0.9214 0.0248 257.6500);
  --chart-2: oklch(0.7597 0.0804 267.0100);
  --chart-3: oklch(0.6083 0.1247 272.7200);
  --chart-4: oklch(0.5144 0.1605 267.4400);
  --chart-5: oklch(0.2571 0.1161 272.2400);
  --sidebar: oklch(0.2156 0.1275 276.69);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.5383 0.1836 266.2379);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent:oklch(1 0 0 / 25%);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4725 0.1341 267.2735);
  --sidebar-ring: oklch(0.4725 0.1341 267.2735);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.15rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0.2571 0.1161 272.24);
  --shadow-2xs: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 2px 4px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 4px 6px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 8px 10px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.1448 0 0);
  --card-foreground: oklch(0.9461 0 0);
  --popover: oklch(0.1448 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.5144 0.1605 267.4400);
  --primary-foreground: oklch(0.9700 0.0140 254.6040);
  --secondary: oklch(0.2500 0 0);
  --secondary-foreground: oklch(0.9400 0 0);
  --muted: oklch(0.2300 0 0);
  --muted-foreground: oklch(0.7200 0 0);
  --accent: oklch(0.3200 0 0);
  --accent-foreground: oklch(0.9214 0.0248 257.6500);
  --destructive: oklch(0.7040 0.1910 22.2160);
  --destructive-foreground: oklch(0.9700 0.0140 254.6040);
  --border: oklch(0.2600 0 0);
  --input: oklch(0.3200 0 0);
  --ring: oklch(0.5144 0.1605 267.4400);
  --chart-1: oklch(0.9214 0.0248 257.6500);
  --chart-2: oklch(0.7597 0.0804 267.0100);
  --chart-3: oklch(0.6083 0.1247 272.7200);
  --chart-4: oklch(0.5144 0.1605 267.4400);
  --chart-5: oklch(0.2571 0.1161 272.2400);
  --sidebar: oklch(0.1448 0 0);
  --sidebar-foreground: oklch(0.9461 0 0);
  --sidebar-primary: oklch(0.5144 0.1605 267.4400);
  --sidebar-primary-foreground: oklch(0.9700 0.0140 254.6040);
  --sidebar-accent: oklch(0.3200 0 0);
  --sidebar-accent-foreground: oklch(0.9214 0.0248 257.6500);
  --sidebar-border: oklch(0.2600 0 0);
  --sidebar-ring: oklch(0.5144 0.1605 267.4400);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.025rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0.2571 0.1161 272.24);
  --shadow-2xs: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 2px 4px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 4px 6px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00), 0px 8px 10px -1px hsl(236.5829 64.2250% 21.4383% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(236.5829 64.2250% 21.4383% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: var(--radius);
  --radius-md: calc(var(--radius) - 0px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

html {
  font-size: 16px;
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer utilities {
  [data-theme-preset]:not([data-theme-preset="default"]) .shadow-2xs {
    box-shadow: var(--shadow-2xs);
  }

  [data-theme-preset]:not([data-theme-preset="default"]) .shadow-xs {
    box-shadow: var(--shadow-xs);
  }

  [data-theme-preset]:not([data-theme-preset="default"]) .shadow-sm {
    box-shadow: var(--shadow-sm);
  }

  [data-theme-preset]:not([data-theme-preset="default"]) .shadow {
    box-shadow: var(--shadow);
  }

  [data-theme-preset]:not([data-theme-preset="default"]) .shadow-md {
    box-shadow: var(--shadow-md);
  }

  [data-theme-preset]:not([data-theme-preset="default"]) .shadow-lg {
    box-shadow: var(--shadow-lg);
  }

  [data-theme-preset]:not([data-theme-preset="default"]) .shadow-xl {
    box-shadow: var(--shadow-xl);
  }

  [data-theme-preset]:not([data-theme-preset="default"]) .shadow-2xl {
    box-shadow: var(--shadow-2xl);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground overscroll-none;
  }
}

.disable-transitions * {
  transition: none !important;
}